<h1>New Page</h1>
<%= error_messages_for :page %>
<% form_for(@page, :url => admin_pages_path,:html=>{:multipart => true}) do |f| -%>
  <%= render(:partial => 'admin/pages/form', :object => f) %>
  <%= f.submit %>
<% end -%>