%h1 New Sub-Folder
%h3
  - @parents.each do |p|
    ="#{p} >"
- form_for(@look, :url => admin_looks_path) do |f|
  = f.error_messages
  = render(:partial => 'admin/looks/form', :object => f)
  = f.submit
