- content_for :mcLeft do
  %p.bold
  %p.bold
    %a.DarkGreyBold{:href => looks_path}
      %strong Looks We Love
  %br/
  %p.greyText
    - Look.all.each do |look|
      %b= link_to look.title, look_path(look), :class => (params[:id].to_i == look.id ? 'Highlightext' : 'greyText')
      %br/
  %p.bold
- content_for :editable_css do
  =stylesheet_link_tag 'style_editable'


