- content_for :mcLeft do
  %p.bold
  %p.bold
    %a.DarkGreyBold{:href => looks_path}
      %strong Looks We Love
  %br/
  %p.greyText
    %a.greyText{:href => archived_looks_looks_path} Looks
  %p.bold
- content_for :editable_css do
  =stylesheet_link_tag 'style_editable'


