
= render :partial => 'left'
#posts-wrapper
  %h2 LOOKS WE LOVE
  %br
  .post
    %h3.title== #{@look.title}
    %br
    - if !@look.image_file_name.nil?    
      = image_tag @look.image.url(:looks)
      %br/
    = @look.content
    %br
    %br
