%p
  %a{:href => "#"}
    = image_tag "ChescaDirectMock_e_06.jpg", :border => "0", :height => "458", :width => "787"
%p
  %a{:href => "#"}
    = image_tag "ChescaDirectMock_c_alt_03.jpg", :border => "0", :height => "395", :width => "789"

