#offer
  %span{:style => " color:#000"} 10% OFF
  'GO FOR GOLD' Range - SIMPLY ENTER 'GOGOLD' AT CHECKOUT - Offer Ends 12/08/12 - Shop Now
.breadcrumb
  %a{:href => "#"} Fashion News
.pagetitle{:style => "width:300px"} STORE LOCATIONS
.line
.blog_left
  .blog_row
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur ornare sapien sit amet rhoncus. Nunc iaculis erat eget quam porttitor porttitor. Vestibulum non metus nulla. Morbi nisl metus, fringilla ac scelerisque in, elementum ut arcu. Cras auctor ante vel eros porta in pulvinar lorem fringilla.
    - @areas.each do |area|

      %span.product_heading= area.name
      .locationdiv
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %p Suspendisse tristique nulla in tortor vulputate bibendum.
        %p Praesent rutrum diam non dui pellentesque vel feugiat leo blandit.
        %p Pellentesque a dui eget nisl tempus tincidunt.
        %p In vitae leo urna, non aliquam metus.
        %p Donec vitae purus sed lorem ultricies consectetur.
        %p In varius urna non diam ultricies imperdiet.
        %p Donec tempus mauris non velit tincidunt nec commodo orci mollis.
        %p Nam sit amet turpis nulla, eget gravida nisi.
      .line
  
.blog_map
  %img{:alt => "", :src => "/images/map.jpg"}/