#sizing-chart-wrapper
  %h2 Return Policy
  %p If any item is unsatisfactory please return within 14 days for a full refund of the garment, together with the Paypal Packing Slip.
  %p We regret that postage incurred is not refundable.
  %p Contact us on our contact page for more information.
  %p Please send garments to:
  %span
    %p 
      %strong Chesca
      %br
      192 Hornsey Road,
      %br
      London,
      %br
      N7 7LN
      %br
