#mcRight2
  %p
  %p
    Sizing chart
    %br/
    %span.darkgrey At chesca, we take great care of our FIT. To feel attractive, comfortable and confident , it is essential that we should give you the very best fit we can. Did you know that every garment in the range is fitted by the owner of chesca, Jacqui Green, herself a size 20. Jacqui checks not only the bust, waist and hips, but also that the arm circumference is not too tight, shoulders are feminine and all the lumps and bumps disappear. Sleeves on our jackets are not only made to fit the tall, but have our unique split cuff to ensure little girls a perfect fit. Our trousers are 31-32cms inside leg, but are parallel legs, which can be shortened easily.
  %p
    %br
  %p.darkgrey Remember, you can always shorten items, but never lengthen them! If you order trousers on line, please advise if you would like to choose your length (inside length) and we will customize them for you in our design room. Please note that alterations are an additional charge and altered items are non-refundable. Let us know, if you have any ideas - we love to listen! Check our size chart.
  %p
    %br
  %p.darkgrey
    = image_tag 'size-guide_03.jpg',:height => "660", :width => "678"
  %p.largeText


