%h1 Editing Color
- form_for(@color, :url => admin_color_path(@color), :method => :put, :html => {:multipart => true}) do |f|
  = f.error_messages
  = render(:partial => 'admin/colors/form', :object => f)
  = f.submit
