- content_for :mcLeft do
  %p.bold
  %p.bold
    %a.DarkGreyBold{:href => posts_path}
      %strong FASHION NEWS
  %br/
  %p.greyText
    %a.greyText{:href => editor_newsletter_posts_path} Editors Newsletter
  %p.greyText
    %a.greyText{:href => chesca_trends_posts_path} Chesca Trends
  %p.greyText
    %a.greyText{:href => archived_looks_posts_path} Archived Looks
  %p.bold
- content_for :editable_css do
  =stylesheet_link_tag 'style_editable'


